<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-app="app">
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="App/app.js"></script>
    <script src="App/config.js"></script>
    <script src="App/common.js"></script>
    <script src="App/mainPage.js"></script>

    <script src="App/dataService.js"></script>
    <script src="Scripts/Chart.js"></script>
    <script src="Scripts/angular-chart.min.js"></script>
    <div data-ng-controller="MainPageList as vm" style="padding-left: 10px">
        
        <h1>tskr</h1>
        <br />
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon" ng-click="vm.searchClick()"><i class="fa fa-search"></i></div>
                <input type="text" id="inputSearch" class="form-control" placeholder="Search" ng-model="vm.searchTable2" ng-keyup="$event.keyCode == 13 && vm.searchClick()">
            </div>
        </div>
        <div ng-show="vm.loading"><h2><i class="fa fa-spinner fa-spin"></i> Loading</h2></div>
        <table class="table table-bordered table-striped" ng-show="!vm.loading">
            <thead>
                <tr>
                    <th>
                        <a href="#" ng-click="vm.sortType = 'SponsorName'; vm.sortReverse = !vm.sortReverse">
                            Sponsor
                            <span ng-show="vm.sortType == 'SponsorName' && !vm.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="vm.sortType == 'SponsorName' && vm.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="vm.sortType = 'StudyName'; vm.sortReverse = !vm.sortReverse">
                            Study
                            <span ng-show="vm.sortType == 'StudyName' && !vm.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="vm.sortType == 'StudyName' && vm.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="vm.sortType = 'SiteName'; vm.sortReverse = !vm.sortReverse">
                            Site
                            <span ng-show="vm.sortType == 'SiteName' && !vm.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="vm.sortType == 'SiteName' && vm.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="vm.sortType = 'OpenCount'; vm.sortReverse = !vm.sortReverse">
                            OpenQueries
                            <span ng-show="vm.sortType == 'OpenCount' && !vm.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="vm.sortType == 'OpenCount' && vm.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="vm.sortType = 'AnsweredCount'; vm.sortReverse = !vm.sortReverse">
                            AnsweredQueries
                            <span ng-show="vm.sortType == 'AnsweredCount' && !vm.sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="vm.sortType == 'AnsweredCount' && vm.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody ng-form="vm.tableForm">
                <tr ng-repeat="row in vm.rowCollection | orderBy:vm.sortType:vm.sortReverse | filter:vm.searchTable">
                    <td style="word-wrap: break-word;min-width: 0px;max-width: 400px; white-space:normal;"><span style="cursor: pointer;" ng-click="vm.itemClicked(row.SponsorName, 'Sponsor')">{{row.SponsorName}}</span></td>
                    <td style="word-wrap: break-word;min-width: 0px;max-width: 400px; white-space:normal;"><span style="cursor: pointer;" ng-click="vm.itemClicked(row.StudyName, 'Study')">{{row.StudyName}}</span></td>
                    <td style="word-wrap: break-word;min-width: 0px;max-width: 100px; white-space:normal;"><span style="cursor: pointer;" ng-click="vm.itemClicked(row.SiteName, 'Site')">{{row.SiteName}}</span></td>
                    <td style="word-wrap: break-word;min-width: 0px;max-width: 100px; white-space:normal;"><span style="cursor: pointer;">{{row.OpenCount}}</span></td>
                    <td style="word-wrap: break-word;min-width: 0px;max-width: 100px; white-space:normal;"><span style="cursor: pointer;">{{row.AnsweredCount}}</span></td>
                </tr>
            </tbody>
        </table>

        <div>
            <div class="row">
                <h3><span class="col-md-6 text-center">Open Queries</span></h3>
                <h3><span class="col-md-6 text-center">Answered Queries</span></h3>
            </div>
            <div class="row"><span>&nbsp;</span></div>
            <div class="row">
                <div class="col-md-4 " style="height: 400px; width: 800px;">
                    <canvas id="doughnut_open" class="chart chart-doughnut " chart-data="openQueriesData" chart-labels="openQueriesLabels" />
                </div>
                <div class="col-md-4 " style="height: 400px; width: 800px;">
                    <canvas id="doughnut_answered" class="chart chart-doughnut" chart-data="answeredQueriesData" chart-labels="answeredQueriesLabels" />
                </div>

            </div>
        </div>
    </div>
</body>
</html>
